.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 520px) {
  .input {
    margin-top: 0.5rem;
  }
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  text-align: center;
  padding-bottom: 3px;
}
